@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");

:root {
  --letter-font: "La Belle Aurore", cursive;
  --base-color: rgba(255, 255, 255, 0.85);

  --border: 1.25rem dashed var(--base-color);
}

.letter {
  margin-bottom: 0;

  font-family: var(--letter-font);

  background-color: var(--base-color);
  min-height: 75vh;

  padding: 2rem;
}

.letter-text,
.introduction {
  font-size: 1.5rem;
}

.welcome,
.signature {
  font-size: 2rem;
}

.signature {
  padding-top: 1rem;
}

.border {
  border: var(--border);
}

.border-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  border-bottom: 0px;
}

.border-bottom {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 0px;
}

.profile-picture {
  max-width: 125px;
  rotate: -25deg;
  border-radius: 50%;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  .letter {
    padding: 1.25rem;
  }

  .profile-picture {
    position: relative;
    left: 1w2.25%;
    max-width: 250px;
  }
}